.homebar{
	height: 60px;
	background-color: lightblue;
	margin-bottom: 15px;
}

.mainpage{
	height: 200px;
	background-color: lightblue;
	margin-bottom: 15px;
}

.subpages{
	display: flex;
	justify-content: space-between;
}

.subpages div{
	height: 200px;
	width: 350px;
	margin: 15px 15px;
	background-color: lightblue;

}

.footpage{
	height: 80px;
	background-color: lightblue;
}